<template>
        <v-list
            subheader
            one-line
        >
          <v-list-tile>
            <v-list-tile-action>
              <v-checkbox :input-value="todo.completed" @change="$store.dispatch('updateTodoStatus', todo)"></v-checkbox>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>{{ todo.description }}</v-list-tile-title>
            </v-list-tile-content>

            <button @click="$store.dispatch('deleteTodo', todo.id)">X</button>
          </v-list-tile>
        </v-list>
</template>

<script>
export default {
    data(){
        return{
        }
    },
    props: {
        todo: {
            required: true,
            type: Object,
        },
    },
}
</script>