<template>
    <div>
        <v-container fluid>
            <v-radio-group v-model="selectedCompleted" :mandatory="false" row>
                <v-radio label="Todos" value="all"></v-radio>
                <v-radio label="À fazer" value="false"></v-radio>
                <v-radio label="Completos" value="true"></v-radio>
            </v-radio-group>
        </v-container>
        <todo-list-item v-for="todo in filteredTodos" :key="todo.id" :todo="todo"/>
    </div>
</template>

<script>
import TodoListItem from './TodoListItem.vue'
import { mapState } from 'vuex'
export default {
    
    mounted () {
        this.$store.dispatch('loadTodos')
    },
    
    data() {
        return {
            selectedCompleted: "all",
        };
    },    
    methods: {
        
    }, 
    
    components: {
        TodoListItem,
    },
    
    computed: {
    filteredTodos: function() {
      const completed = this.selectedCompleted;
      if (completed === "all") {
        return this.todos;
      } else {
        return this.todos.filter(function(todo) {
			return String(todo.completed) === completed;
		});
      }  
    },
    ...mapState(['todos'])
  },
};
</script>
