<template>

    <v-flex class="center-all">
      <h1>Todos</h1>

        <!-- <input v-model="message" placeholder="O que precisa ser feito?"/> -->
        <v-flex>
          <v-text-field
            label="Solo"
            placeholder="O que precisa ser feito?"
            @keydown.enter="$store.dispatch('saveTodo', description)"
            solo
            v-model="description"
          />
        </v-flex>
      <v-card>
        <todo-list/>
      </v-card>
      <div class="pending-tasks">
        {{ completed }}
      </div>
    </v-flex>

</template>

<script>
import TodoList from '../components/TodoList.vue';
import { mapMutations } from 'vuex';
export default {
  components: {
    TodoList,
  },
  data() {
    return {
      description: '',
    };
  },
  computed: {
    getTodos() {
      return this.$store.getters.getTodos;
    },
    completed() {
      let pendingAmount = this.$store.getters.getTodos.filter((val) => val.completed === false).length;
      return pendingAmount > 1 ? pendingAmount + ' tarefas pendentes' : pendingAmount + ' tarefa pendente';

    },
  },
  methods: {
    
  }
};
</script>

<style lang="sass">
    .radio-buttons-filter
      padding: 4px
      margin: 5px
      background-color: white
      display: flex
      justify-content: space-evenly
      text-align: center

    .center-all
      margin: auto
      width: 25vw;

    .pending-tasks
      float: left
      margin-left: 10px
</style>
